@if (loading()) {
<div
  class="grid grid-cols-1 gap-6 p-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 w-full"
>
  @for(item of [1,2,3,4,5,6,7,8]; track $index) {
  <div class="h-[320px] rounded-lg shadow-sm border border-gray-200 bg-white">
    <p-skeleton width="250px" height="320px" styleClass="h-full" />
  </div>
  }
</div>
} @else {
<div
  class="grid grid-cols-1 gap-6 p-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 w-full"
>
  @for (prod of products; track $index) {
  <product-card [product]="prod" />
  }
</div>
}
